.customModal {
  .title {
    padding-left: 20px;
    font-size: 22px;
    font-weight: bold;
  }
  .steps {
    display: flex;
    align-items: center;
    img {
      width: 70px;
      height: 70px;
      object-fit: cover;
      zoom: 1.1;
    }

    .step {
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      align-items: center;

      .left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px !important;
        line-height: 1;
        div{
          width: 130px;
          margin-bottom: 10px;
        }
      }

      .to_right{
        background: url("https://anystarr-image.oss-ap-southeast-1.aliyuncs.com/anystarr-next-asset/to_right.png") no-repeat;
        width: 25px;
        height: 5px;
        background-size: contain;
      }

      .right {
        font-size: 14px !important;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    .qr_wrap{
      width: 153px;
      height: 153px;
      background: #F9F8F8;
      border-radius: 23px;
      border: 1px solid #F0EFEF;
      padding: 20px;
    }
  }

  .footer {
    padding-left: 20px;

    p:nth-child(2) {
      color: #5E8F9D;
      cursor: pointer;
    }
  }
}
