.income_page{
  width: 100%;
  padding: 20px;
  .card_wrap{
   background: linear-gradient(to right, #141622 50%, rgba(150, 40, 246, 0.35) 100%);
   width: calc(100vw - 40px);
   border-radius: 30px;
   margin: 0 auto;
   border: 1px solid rgba(255, 255, 255, 0.1) ;
   border-left: none;
   padding: 20px;
   .card_title{
     font-weight: bold;
     color: #FFFFFF;
     font-size: 16px;
   }

   .withdraw_warp{
     display: flex;
     justify-content: space-between;
     align-items: center;
     .balance_warp{
       font-weight: bold;
       color: #A78DFF;
       font-size: 33px;
     }

     .withdraw_btn{
       background: linear-gradient(to right, #9D26F7, #314AF0);
       border-radius: 20px;
       font-size: 14px;
       color: #FFFFFF;
       height: 36px;
       padding: 0 25px;
       border: none;
       font-weight: bold;
     }
   }

   .promotion{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 10px;
     .level_wrap{
       color: #ffffff;
       font-size: 20px;
       font-weight: 500;
     }
     .level_num_wrap{
       color: #ffffff;
       font-size: 20px;
       font-weight: 500;
       display: flex;
       align-items: center;
       .pro_crown_icon{
         background: url("../../imgs/bottom/crown_icon.webp");
         background-size: cover;
         width: 50px;
         height: 50px;
       }
     }
   }

   .income_wrap{
     display: flex;
     justify-content: space-between;
     margin-top: 30px;
     .yestoday_wrap{
       flex: 1;
       display: flex;
       flex-direction: column;
       align-items: center;
       margin: 0 10px;
       .sub_title{
         font-weight: 300;
         color: rgba(255, 255, 255, 0.7);
         font-size: 14px;
       }
       .balance_title{
         font-size: 24px;
         font-weight: 600;
         color: #FFFFFF;
       }
     }
   }
 }
  .log_wrap{
    margin-top: 20px;
    .tab_wrap{
      display: flex;
      .tab_view{
        padding: 10px 30px;
        font-size: 16px;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.7);
        transition: all .3s;
        border-radius: 24px;
      }
      .tab_active_view{
        padding: 10px 30px;
        font-size: 16px;
        font-weight: 500;
        color: #ffffff;
        background: linear-gradient(to right, #362D54, #00145D);
        transition: all .3s;
        border-radius: 24px;
      }
    }

    .history_wrap{
      width: 100%;
      margin-top: 20px;

      .logs_wrap{
        overflow: scroll;
        height: 50vh;
      }

      .tr_wrap{
        display: flex;
        font-weight: 300;
        color: #FFFFFF;
        font-size: 14px;
        padding: 0 24px;
        margin-top: 10px;
        .th_1{
          flex: 1;
          text-align: left;
        }
        .th_2{
          flex: 1;
          text-align: center;
        }
        .th_3{
          flex: 2;
          text-align: center;
        }
      }
    }
  }

  .share_title_wrap{
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 20px;
    .blue_icon{
      background: #4842F1;
      width: 4px;
      height: 22px;
      margin-right: 15px;
    }
    .share_title{
      font-weight: 400;
      color: #B4B5B8;
      font-size: 16px;
    }
  }

  .share_card{
    margin-bottom: 20px ;
    background: linear-gradient(to bottom, #0D0F1A, #161822);
    padding: 20px 15px;
    border-radius: 20px;
    .card_head{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .account_title{
        font-size: 14px;
        color: #B4B5B8;
        span{
          margin-left: 10px;
          color: #7964F6;
        }
      }
      .level_btn{
        background: linear-gradient(to right, #9D26F7, #314AF0);
        padding: 5px 20px;
        font-size: 16px;
        color: #FFFFFF;
        font-weight: bold;
        border-radius: 10px;
      }
    }
    .card_person_wrap{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 15px;
      padding: 0 5px 0 0;
      .left_wrapper{
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #F2F2F2;
        font-weight: 400;
        .person_head_pic{
          background: url("../../imgs/promotion/head_pic_icon.webp");
          width: 40px;
          height: 40px;
          background-size: cover;
          margin-right: 10px;
        }
        .team_head_pic{
          background: url("../../imgs/promotion/team_pic_icon.webp");
          width: 40px;
          height: 40px;
          background-size: cover;
          margin-right: 10px;
        }
      }
      .right_wrapper{
        font-size: 18px;
        font-weight: bold;
        color: #FFFFFF;
      }
    }
  }
}
