.help_page{
  display: flex;
  width: 100vw;
  height: calc(100vh - 60px); // 设置父容器的总高度为视口高度
  overflow: hidden; // 阻止父容器本身的滚动
  transition: all .3s ease-in;
  .nav_wrap{
    width: 500px;
    box-shadow: 4px 0 4px -2px #00000020;
    padding: 20px 0 0 10px;
    height: 100%; // 左侧导航栏的高度与视口一致
    overflow-y: scroll; // 启用垂直滚动
    overflow-x: hidden;
    @media (max-width: 650px) {
      width: 78px !important;
      padding: 20px 0 0 0px;
    }
  }

  .show_menu{
    @media (max-width: 650px) {
      width: 100vw !important;
      padding: 20px 0 0 0px;
    }
  }


  .body_wrap_show_menu{
    @media (max-width: 650px) {
      width: 0 !important;
      box-sizing: border-box;
      padding: 20px 0 0 0px;
      display: none;
    }
  }

  .body_wrap{
    transition: all .3s ease-in;
    height: 100%;// 左侧导航栏的高度与视口一致
    overflow-y: scroll; // 启用垂直滚动
    padding: 20px 50px;
    width: 100%;
    overflow-x: hidden;
    .normal_wrap{
      max-width: 800px;
      margin: 0 auto;
    }
  }

  .contact_us{
    position: fixed;
    bottom: 80px;
    right: 20px;
    font-size: 50px;
    color: var(--primary-color);
  }
}


.welcome_container {
  padding: 20px 0px;
  margin: 0 auto;
  max-width: 800px;
  @media (max-width: 650px) {
    h1{
      font-size: 22px;
    }
  }
}

.welcome_heading {
  font-size: 25px;
  margin-bottom: 20px;
  @media (max-width: 650px) {
    font-size: 18px !important;
  }
}

.welcome_search {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  .welcome_searchInput {
    padding: 10px 15px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 1rem;
  }
}

.welcome_topics {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
  gap: 20px;
  @media (max-width: 650px) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
  }
}

.welcome_card {
  background-color: #f8f8f8;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
  }
}

.welcome_icon {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}

.welcome_cardTitle {
  font-size: 1.2rem;
  margin-bottom: 10px;
  @media (max-width: 650px) {
    font-size: 16px;
  }
}

.welcome_cardDescription {
  font-size: 0.9rem;
  color: #666;
  @media (max-width: 650px) {
    font-size: 14px;
  }
}

.popular_wrap{
  max-width: 800px;
  margin: 0 auto;
  .popular_title{
    padding-bottom: 20px;
    color: #000;
    font-size: 22px;
    font-weight: 600;
  }

  .popular_item{
    padding-bottom: 15px;
    color: #000;
    font-size: 22px;
    cursor: pointer;
    color: var(--ansytarr-primary-color);
    opacity: 0.8;
    transition: all .3s;
    &:hover{
      text-decoration: underline;
    }

    @media (max-width: 650px) {
      font-size: 15px;
    }
  }

}


.section_title_1{
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  @media (max-width: 650px) {
    font-size: 18px;
  }
}

.section_title_2{
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  @media (max-width: 650px) {
    font-size: 16px;
  }
}

.section_title_3{
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
  @media (max-width: 650px) {
    font-size: 14px;
    img{
      width: 200px;
    }
  }
}
