
.c_btn{
  width: max-content;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  background-color: var(--ansytarr-primary-color);
  border-radius: 2px 2px 2px 2px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
  padding: 16px 30px 16px 30px;
  color: #fff;
  cursor: pointer;
}

.home_page{
  width: 100%;
  height: 100%;
  margin-top: -60px;
  a{
    cursor: pointer !important;
    color: #000;
    transition: all .3s;
    &:hover{
      color: var(--ansytarr-primary-color);
    }
  }
  .header{
    background: #F1EFEC;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #000000;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 01% 0% 02% 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    .header_content{
      display: flex;
      align-items: center;
      img{
        width: 140px;
        max-width: 23%;
        height: 50px;
        border-radius: 0px 0px 0px 0px;
      }
      .item_wrap{
        margin-left: 300px;
        display: flex;
        align-items: center;
        img{
          max-width: unset;
        }
        .items{
          margin-left: 50px;
          font-size: 18px;
          font-weight: 300;
          cursor: pointer;
        }
      }
    }
  }

  .content_img_wrap{
    position: relative;
    .bg_image_wrap{
      background: url("https://anystarr-image.oss-ap-southeast-1.aliyuncs.com/home_bg-scaled-2.jpg") no-repeat;
      min-height: 600px;
      width: 100%;
      background-size: contain;
    }
    .title_1{
      position: absolute;
      left: 70px;
      top: 120px;
      color: #F8F6F6;
      width: 600px;
      font-family: "Comfortaa", Sans-serif;
      font-size: 2.2em;
      font-weight: 600;
      text-transform: uppercase;
      text-shadow: 1px 0px 53px #000000;
      mix-blend-mode: screen;
    }

    .title_2{
      position: absolute;
      left: 70px;
      top: 270px;
      width: 600px;
      color: #F8F6F6;
      font-family: "Raleway", Sans-serif;
      font-size: 1.4em;
      font-weight: 400;
      line-height: 1.3em;
      text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    }

    .btn{
      position: absolute;
      left: 70px;
      top: 450px;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
      background-color: var(--ansytarr-primary-color);
      border-radius: 2px 2px 2px 2px;
      box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
      padding: 16px 30px 16px 30px;
      color: #fff;
      cursor: pointer;
    }

  }


  .content_top_1{
    max-width: 1280px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    .left{
      flex: 1;
      display: flex;
      justify-content: flex-end;
      margin-right: 20px;
      img{
        max-width: 500px;
        border-radius: 48px 48px 48px 48px;
      }
    }

    .right{
      margin-left: 20px;
      flex: 1;
      width: 100%;
      color: #000;
      font-weight: 300;
      .t1{
        color: var(--ansytarr-primary-color);
        font-size: 18px;
        letter-spacing: 2px;
        font-weight: bold;
      }

      div{
        max-width: 500px;
        display: flex;
        align-items: center;
        img{
          width: 30px;
          height: 30px;
        }
      }

      &.left_r{
        div{
          max-width: 100%;
        }
      }
    }
  }

  .section{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
      text-align: center;
    }

    .comments_wrap{
      width: 1000px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      background: rgba(240, 119, 74, 0.3);
      border-radius: 20px;
      padding: 20px;
      span{
        font-size: 18px;
        font-weight: bold;
      }
      img{
        width: 100px;
        height: 100px;
        object-fit: contain;
      }
    }
  }


  .bottom_wrap{
    padding: 20px 0px 20px 0px;
    background: #F4F6F9;
    .content{
      max-width: 1280px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      img{
        flex-shrink: 0;
        width: 211px;
        object-fit: contain;
      }
      a{
        cursor: pointer !important;
        color: #000;
        transition: all .3s;
        &:hover{
          color: var(--ansytarr-primary-color);
        }
      }
      .right_wrap{
        display: flex;
        font-size: 16px;
        font-weight: 300;
        .tt_1{
          font-size: 22px;
          color: var(--ansytarr-primary-color);
          font-weight: bold;
        }
        .left{
          margin-right: 70px;
        }
        .right{

        }
      }
    }
  }
}


@media screen and (max-width:650px) {
  .c_btn{
    width: max-content !important;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background-color: var(--ansytarr-primary-color);
    border-radius: 2px 2px 2px 2px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
    padding: 10px 20px 10px 20px;
    color: #fff;
    cursor: pointer;
  }

  .home_page{
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-top: -60px;
    a{
      cursor: pointer !important;
      color: #000;
      transition: all .3s;
      &:hover{
        color: var(--ansytarr-primary-color);
      }
    }
    .header{
      background: #F1EFEC;
      border-style: solid;
      border-width: 0px 0px 1px 0px;
      border-color: #000000;
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
      padding: 01% 0% 02% 0%;
      display: flex;
      align-items: center;
      justify-content: center;
      .header_content{
        display: flex;
        align-items: center;
        img{
          max-width: 100px;
          width: 100px;
          height: 50px;
          object-fit: contain;
          border-radius: 0px 0px 0px 0px;
        }
        .item_wrap{
          margin-left: 0px;
          display: flex;
          align-items: center;
          .items{
            margin-left: 10px;
            font-size: 12px;
            zoom: 0.9;
            font-weight: 300;
            cursor: pointer;
          }
        }
      }
    }

    .content_img_wrap{
      position: relative;
      .bg_image_wrap{
        background: url("https://anystarr-image.oss-ap-southeast-1.aliyuncs.com/home_bg-scaled-2.jpg") no-repeat;
        min-height: 150px;
        width: 100%;
        background-size: contain;
      }
      .title_1{
        position: relative;
        left: 20px;
        top: 20px;
        color: #000;
        width: 80%;
        font-family: "Comfortaa", Sans-serif;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        mix-blend-mode: unset;
        z-index: 99;
      }

      .title_2{
        position: relative;
        left: 20px;
        top: 60px;
        width: 80%;
        color: #000;
        font-family: "Raleway", Sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
      }

      .btn{
        position: relative;
        left: 20px;
        font-size: 12px;
        top: 100px;
        width: max-content;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        background-color: var(--ansytarr-primary-color);
        border-radius: 2px 2px 2px 2px;
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
        padding: 10px 20px 10px 20px;
        color: #fff;
        cursor: pointer;
        height: 40px;
      }
      margin-bottom: 50px;
    }


    .content_top_1{
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      .left{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        margin:10px;
        img{
          max-width: 100%;
          border-radius: 48px 48px 48px 48px;
        }
      }

      .right{
        margin-left: 20px;
        flex: 1;
        width: 100%;
        color: #000;
        font-weight: 300;
        .t1{
          color: var(--ansytarr-primary-color);
          font-size: 18px;
          letter-spacing: 2px;
          font-weight: bold;
        }

        div{
          max-width: unset;
          width: 100%;
          display: flex;
          align-items: center;
          img{
            width: 30px;
            height: 30px;
          }
        }

        &.left_r{
          div{
            max-width: 100%;
          }
        }
      }
    }

    .section{
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      max-width: 100%;
      align-items: center;
      h1{
        text-align: center;
      }

      .comments_wrap{
        width: unset;
        margin: 0 20px;
        display: flex;
        align-items: center;
        background: rgba(240, 119, 74, 0.3);
        border-radius: 20px;
        padding: 20px;
        span{
          font-size: 18px;
          font-weight: bold;
        }
        img{
          width: 100px;
          height: 100px;
          object-fit: contain;
        }
      }
    }


    .bottom_wrap{
      padding: 20px;
      background: #F4F6F9;
      .content{
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        overflow: hidden;
        justify-content: space-between;
        img{
          flex-shrink: 0;
          width: 100px;
          object-fit: contain;
        }
        a{
          cursor: pointer !important;
          color: #000;
          transition: all .3s;
          &:hover{
            color: var(--ansytarr-primary-color);
          }
        }
        .right_wrap{
          display: flex;
          font-size: 12px;
          font-weight: 300;
          .tt_1{
            font-size: 14px;
            color: var(--ansytarr-primary-color);
            font-weight: bold;
          }
          .left{
            margin-right:20px;
          }
          .right{

          }
        }
      }
    }
  }
}
