.flexContainer {
  display: flex;
  border: 1px solid #e5e5e5;
  box-shadow: 0 3.2px 23px rgba(0, 0, 0, 0.1);
  background-color: white;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 14px;
  cursor: pointer;
  height: 100%;

  .position_wrap{
    display: none;
    width: 453px;
    height: 299px;
    background: #FFFFFF;
    box-shadow: 0px 3px 10px 0px rgba(240,119,74,0.23);
    border-radius: 20px;
    border: 1px solid #F0774A;
    position: absolute;
    z-index: 999;
    align-items: center;
    left: 0;
    .right_wrap{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      .text_1{
        font-weight: 400;
        font-size: 14px;
        color: #666666
      }

      .text_2{
        font-weight: bold;
        font-size: 20px;
        color: #FA6400;
      }

      .text_3{
        font-weight: bold;
        font-size: 20px;
        color: #999999;
      }

      .text_4{
        color: #000000;
        font-weight: bold;
        font-size: 14px;
      }
    }
  }


  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* 添加阴影 */
    .position_wrap{
      display: flex;
    }
  }

  .star_img{
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0;
    transition: all .3s;
    cursor: pointer;
    width: 20px;
    height: 20px;
    z-index: 2;
    background: url("../../../public/product/star.svg") no-repeat;
    background-size: contain;
    @media (max-width: 650px) {
      opacity: 1;
    }
  }

  .stared_img{
    position: absolute;
    top: 5px;
    right: 5px;
    transition: all .3s;
    cursor: pointer;
    width: 20px;
    height: 20px;
    z-index: 2;
    background: url("../../../public/product/stared.svg") no-repeat;
    background-size: contain;
  }

  @media (max-width: 650px) {
    border-radius: 12px;
  }
}

.flex_center{
  display: flex;
  align-items: center;
}

.flex_column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.select_icon{
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid #666;
  flex-shrink: 0;
  margin-left: 10px;
  transition: all .3s;
  &.active{
    background: var(--primary-color);
    border-color: var(--primary-color);
  }
}

.imgContainer {
  position: relative;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  flex: 1;
  border-radius: 10px;
  img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 20%;
    height: auto;
  }

  .rcImage {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s;
    &:hover{
      scale: 1.1;
    }
  }
}

.textContainer {
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  line-height: 1;

  .price {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #FF002C;
    font-size: 20px;
    height: 15px;
    text-align: center;
    margin-top: 5px;
    @media (max-width: 650px) {
      font-size: 16px;
    }
  }

  .normal_wrap{
    font-size: 14px;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }

  .commission {
    font-family: 'Inter', sans-serif;
    font-weight: medium;
    color: #666;
    font-size: 12px;
  }

  .title {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #000;
    font-size: 12px;
    margin-top: 13px;
    line-height: 16px;
    display: -webkit-box;        /* 兼容 flex 布局 */
    -webkit-box-orient: vertical; /* 垂直方向排列子元素 */
    overflow: hidden;            /* 隐藏溢出部分 */
    text-overflow: ellipsis;     /* 溢出时显示省略号 */
    -webkit-line-clamp: 1;       /* 限制显示的行数，这里是 2 行 */
  }

  .sold {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #666666;
    margin-top: 5px;
    text-align: left;
    display: flex;
    align-items: center;
    div{
      width: 55px;
      height: 22px;
      background: rgba(170,167,177,0.30);
      border-radius: 11px;
      color: #923E07;
      text-align: center;
      line-height: 22px;
      font-weight: bold;
      margin-left: 5px;
    }
  }

  .sampleBtn {
    width: 100%;
    padding-top: 30px;
    background: linear-gradient(to right, #25f4ee 50%, #fe2c55 50%);
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    .btnInner {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 4px;
      right: 4px;
      background-color: black;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      border-radius: 25px;
      @media screen and (max-width: 640px){
        font-size: 12px;
      }
    }
  }
}

.iconContainer {
  position: absolute;
  top: 16px;
  right: 16px;
  @media (max-width: 650px) {
    top: 10px;
    right: 10px;
  }

  .icon {
    font-size: 20px;
    cursor: pointer;
  }
}


.card_max_wrap{
  position: relative;
  transition: all .3s;
  cursor: pointer;
  .card_wrap{
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px 0px rgba(221,221,221,0.62);
    border-radius: 20px;
    border: 1px solid rgba(237,236,238,0.85);
    padding: 20px 17px;
    .top{
      display: flex;
      img{
        width: 116px;
        height: 115px;
        border-radius: 10px;
        object-fit: cover;
      }
    }

    .title_main{
      margin-top: 23px;
      font-weight: 500;
      font-size: 16px;
      color: #333333;
      display: -webkit-box;        /* 兼容 flex 布局 */
      -webkit-box-orient: vertical; /* 垂直方向排列子元素 */
      overflow: hidden;            /* 隐藏溢出部分 */
      text-overflow: ellipsis;     /* 溢出时显示省略号 */
      -webkit-line-clamp: 1;       /* 限制显示的行数，这里是 2 行 */
    }

    .total_wrap{
      margin-top: 10px;
      font-weight: 400;
      font-size: 14px;
      color: #666666;
      display: flex;
      align-items: center;
      .sold_num_wrap{
        height: 22px;
        padding: 0 10px;
        line-height: 22px;
        background: rgba(170,167,177,0.34);
        color: #923E07;
        border-radius: 11px;
        margin-left: 10px;
      }
    }

    .add_tk{
      width: 100%;
      height: 40px;
      background: #241E1F;
      border-radius: 24px;
      font-size: 18px;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-top: 20px;
      justify-content: center;
    }

  }
  .right_wrap{
    flex-shrink: 0;
    width: 104px;
    margin-left: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: #ffffff;
    img{
      width: 28px;
      height: 28px;
      object-fit: cover;
      cursor: pointer;
    }
    .title_1{
      font-weight: 400;
      font-size: 14px;
      color: #666666;
    }
    .title_2{
      font-weight: bold;
      font-size: 22px;
      color: #FA6400;
      margin-bottom: 10px;
    }
    .title_3{
      font-weight: bold;
      font-size: 22px;
      color: #B2B2B2;
    }

    .title_4{
      font-weight: bold;
      font-size: 14px;
      color: #000;
      margin-top: 7px;
      margin-bottom: 12px;
    }
  }

  .hovered{
    position: absolute;
    background: #ffffff;
    left: -23%;
    top: 0;
    width: 100%;
    z-index: -1;
    opacity: 0; /* 初始透明 */
    visibility: hidden; /* 初始不可见 */
    transition: visibility 0.3s, transform 0.3s;
    transform: translateY(-10px); /* 初始位置偏移 */
  }

  @media screen and (max-width: 650px){
    .hovered:nth-child(2n){
      right: 0;
      left: unset;
    }
  }

  &:hover{
    .card_wrap{
      box-shadow: 0px 3px 10px 0px rgba(240,119,74,0.5);
      border: 1px solid #F0774A;
    }
    .hovered{
      display: flex;
      visibility: visible; /* 让元素可见 */
      z-index: 999;
      opacity: 1;
      transform: translateY(0); /* 回到原位 */
    }
  }
}
