* {
  margin: 0;
  padding: 0;
}
body {
  /*font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;*/
  font-family: Segoe UI, Segoe UI;
  background-color: #090B14;
}

.container {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #090B14;
  z-index: 999;
}
.logo-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 20px;
  cursor: pointer;
}
.sys-name {
  display: inline-block;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 600;
}
.logo {
  width: 87px;
  height: 42px;
}
.right-container {
  position: absolute;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub_page_title{
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: #FFFFFF;
  z-index: -1;
}

.back-icon{
  background: url("../src/imgs/header/back_icon.webp") no-repeat;
  width: 24.57px;
  height: 15.57px;
  margin-left: 20px;
  background-size: cover;
}

.address_show_wrap{
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  line-height: 36px;
}

.link_wallet{
  background: #171925;
  padding: 0 20px;
  height: 36px;
  display: flex;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  justify-content: center;
  line-height: 36px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
}

.language-btn{
  background: url("../src/imgs/header/global-icon.svg") no-repeat;
  width: 24px;
  height: 24px;
  margin: 0 10px;
}

.application-btn{
  background: url("../src/imgs/header/application-icon.svg") no-repeat;
  width: 24px;
  height: 24px;
}

.ant-drawer-body{
  background: #030406;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 16px
}

.header-drawer-top-logo{
  background: url("../src/imgs/header/home_drawer_logo.webp") no-repeat;
  width: 151px;
  height: 74px;
  background-size: cover;
  margin: 0 auto 70px 0;
}

.flex_div_wrap{
  display: flex;
  align-items: center;
}

.logout_icon{
  background: url("../src/imgs/header/logout_icon.webp") no-repeat;
  width: 30px;
  height: 30px;
  background-size: cover;
  margin-right: 15px;
  margin-left: 10px;
}

.select-language-wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.select-language-wrap div:first-child{
  padding: 0 0 15px 0;
}
.select-language-wrap div{
  padding: 15px 0;
}
.select-language-wrap div{
  padding: 15px 0;
}
.select-language-wrap div:last-child{
  padding: 15px 0 0 0;
}
