* {
  margin: 0;
  padding: 0;
}
body {
  /*font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;*/
  font-family: Segoe UI, Segoe UI;
  background-color: #ffffff;
}

:root{
    --primary-color: #FA6400;
    --primary-color-80: rgba(250, 100, 0, 0.8);
    --ansytarr-primary-color: #F0774A
}

a{
  text-decoration: none !important;
}

.header_container {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  height: 60px;
  background-color: #ffffff;
  z-index: 666;
  width:100%;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
}
.logo-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 20px;
  cursor: pointer;
}
.sys-name {
  display: inline-block;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 600;
}
.logo {
  width: 130px;
  height: 42px;
}
.right-container {
  position: absolute;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_icon{
  width: 24px;
  height: 24px;
  margin-right: 25px;
  cursor: pointer;
}


.global_search{

}
.global_search .ant-modal .ant-modal-content{
  background: #00000000 !important;
  border-radius: 0 !important;
  padding: 0 !important;
  box-shadow: none !important;
}

.search_warp{
  width: 631px;
  height: 57px;
  zoom: 0.9;
  background: #FFFFFF;
  border: 2px solid #F0774A;
  border-radius: 40px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 650px){
  .search_warp{
    zoom: 0.6;
    margin: 0 auto;
  }
}


.search_warp .left_wrap{
  width: 190px;
  height: 57px;
  background: #E7E7E7;
  border-radius: 40px 0px 0px 40px;
  box-shadow: none !important;
  border: none!important;
  font-size: 16px;
}

.left_wrap .ant-select-selector{
  border: 0 !important;
  box-shadow: none !important;
  background: #E7E7E7  !important;
  font-size: 16px;
}
.left_wrap .ant-select-single{
  width: 100%;
  height: 100%;
  padding: 0 20px;
  background: #E7E7E7;
  font-size: 16px;
}

.search_warp .right_wrap{
  width: 80px;
  height: 57px;
  background: #F0774A;
  border-radius: 0px 40px 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.right_wrap img{
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.search_warp .input{
  flex: 1;
  border: none !important;
  outline: 0 !important;
  outline-color: #00000000 !important;
  border-color: #00000000 !important;
  box-shadow: none !important;
  font-size: 18px;
  padding: 0 20px;
  height: 100%;
}


.user_name_wrap{
    font-size: 16px;
    font-weight: 500;
}

.font_hover{
  transition: all .3s;
}

.font_hover:hover{
  color: var(--primary-color) !important;
}

.pop_content{

}

.pop_content div{
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    transition: all .3s;
    padding: 0 20px;
    font-weight: bold;
}

.pop_content div:hover{
    background: #33333310;
    color: var(--primary-color-80);
}

.sub_page_title{
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: #FFFFFF;
  z-index: -1;
}

.back-icon{
  background: url("../src/imgs/header/back_icon.webp") no-repeat;
  width: 24.57px;
  height: 15.57px;
  margin-left: 20px;
  background-size: cover;
}

.address_show_wrap{
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  line-height: 36px;
}

.link_wallet{
  background: var(--primary-color);
  padding: 0 20px;
  height: 36px;
  display: flex;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  justify-content: center;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
}

@media screen and (max-width: 650px){
  .link_wallet{
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
  }
}

.language-btn{
  background: url("../src/imgs/header/global-icon.svg") no-repeat;
    background-color: #FF0167;
    border-radius: 12px;
  width: 24px;
  height: 24px;
  margin: 0 10px;
}

.application-btn{
  background: url("../src/imgs/header/application-icon.svg") no-repeat;
  width: 24px;
  height: 24px;
}

.ant-drawer-body{
  background: #030406;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 16px
}

.header-drawer-top-logo{
  background: url("../src/imgs/header/home_drawer_logo.webp") no-repeat;
  width: 151px;
  height: 74px;
  background-size: cover;
  margin: 0 auto 70px 0;
}

.flex_div_wrap{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logout_icon{
  background: url("../src/imgs/header/logout_icon.webp") no-repeat;
  width: 30px;
  height: 30px;
  background-size: cover;
  margin-right: 15px;
  margin-left: 10px;
}
.store_icon{
  background: url("../src/imgs/header/store_icon.webp") no-repeat;
  width: 30px;
  height: 30px;
  background-size: cover;
  margin-right: 15px;
  margin-left: 10px;
}
.short_icon{
  background: url("../src/imgs/header/short_icon.png") no-repeat;
  width: 30px;
  height: 30px;
  background-size: cover;
  margin-right: 15px;
  margin-left: 10px;
}
.short_video_icon{
  background: url("../src/imgs/header/short_video_icon.png") no-repeat;
  width: 30px;
  height: 30px;
  background-size: cover;
  margin-right: 15px;
  margin-left: 10px;
}
.chat_icon{
  background: url("../src/imgs/header/chat_icon.png") no-repeat;
  width: 30px;
  height: 30px;
  background-size: cover;
  margin-right: 15px;
  margin-left: 10px;
}

.select-language-wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.select-language-wrap div:first-child{
  padding: 0 0 15px 0;
}
.select-language-wrap div{
  padding: 15px 0;
}
.select-language-wrap div{
  padding: 15px 0;
}
.select-language-wrap div:last-child{
  padding: 15px 0 0 0;
}


.ant-modal-body{

}

.ant-modal-header{
  background: #ffffff;
  color: #000000;
  border-radius: 20px;
}

.ant-modal-title{
  color: #000000;
}
.ant-modal-close{
  color: #000000;
}
.ant-modal-content{
  background: #ffffff;
  border-radius: 20px;
}
.ant-modal-content p{
  color: #000000;
}
.ant-modal-footer .ant-btn{
  background: #ffffff;
  color: #000000;
}

.ant-modal-footer .ant-btn-primary{
  background: linear-gradient(to right, #9D26F7, #314AF0);
  border: none;
}


.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.fadeIn {
    /* animation-name: fadeIn; */
    /* animation: fadeIn .5s ease-in-out; */
}

.animate__fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}

.ant-popover-inner-content{
    padding: 6px;
}

@keyframes fadeIn {
    from {
        opacity: .6;
    }

    to {
        opacity: 1;
    }
}

*::-webkit-scrollbar{
    display: none;
}




.app-footer {
  position: fixed;
  bottom: 0;
  left:0;
  right:0;
  z-index: 9999;
}
.app-footer .footer-gray {
  /* background-color: rgb(245,242,240); */
  background-color: #111114;
  position: relative;
}
.app-footer .footer-black {
  background-color: #111114;
  text-align: center;
  color: #fff !important;
  padding: 5px 10px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 650px){
  .app-footer{
    zoom:0.7
  }
}

.footer-black a{
  color: #fff !important;
}

.footer-gray .footer-g-content {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 10px 10px 10px 10px;
  align-items: center;
}

.footer-g-content a{
  color:#fff
}

.footer-link-2 {
  margin: 0 20px;
}
.footer-g-content .cont-left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cont-left .logo-ab {
  height: 18px;
}
.cont-left .ic-sx {
  height: 30px;
  margin: 0 10px;
}
.cont-left .logo-1 {
  height: 40px;
}
.cont-right {
  display: flex;
  align-items: center;
}
.cont-right .follow-us {
  font-size: 14px;
  margin-right: 10px;
  color: #fff;
}
.linkedin-link, .ins-link {
  display: inherit;
  margin-right: 10px;
}
.cont-right .logo-fb {
  height: 35px;
  margin: 0 5px;
}
.cont-right .logo-google {
  height: 35px;
}

.cont-right .ins-logo-footer {
  color: #707a8a;
  font-size: 17px;
}
.cont-right .linkin-logo-footer {
  color: #707a8a;
  font-size: 17px;
}
.cont-right .ins-logo-footer:hover {
  color: #fff;
}
.cont-right .linkin-logo-footer:hover {
  color: #fff;
}




@media screen and (max-width: 640px) {
    .header_container{
        width: 100%;
    }
}
