
.home_page{
  width: 100vw;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  padding-top: 20px;

  .mobile_wrap{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    .select_category{
      width: 200px;
      height: 32px;
    }

    .select_area {
      display: flex;
      justify-content: center;
      margin-top: 10px;

      .select_area_item {
        width: 600px;
        display: flex;
        gap: 30px;

        :global(.ant-select-selector) {
          border-radius: 25px;
          color: #D5D6D8;
          text-align: center;
        }
      }
    }

    @media screen and (max-width: 650px) {
      flex-direction: column-reverse;
      .select_category{
        width: 93%;
        margin: 0 auto;
      }
      .select_area_item {
        padding: 0px 3%;
        width: 93%;
        // 超出滚动
        overflow-x: auto;
      }
    }
  }

  .sort_wrap{
    padding: 10px 20px;
  }

  .category_wrap{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0 15px;
    .item_view{
      flex-shrink: 0;
      border: 1px solid var(--primary-color-80);
      padding: 0 10px;
      height: 35px;
      font-size: 12px;
      font-weight: 500;
      line-height: 35px;
      text-align: center;
      margin-right: 10px;
      color:var(--primary-color) ;
      border-radius: 10px;
      cursor: pointer;
      transition: all .3s;
      &:hover{
        background: var(--primary-color-80);
        color: #fff;
      }
    }
  }

  .grid_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 10px; /* 列与列之间的间隔 */
    padding: 10px;
    @media (max-width: 1200px) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 10px; /* 列与列之间的间隔 */
      grid-auto-rows: 1fr; /* 让每行高度相同 */
    }
    @media (max-width: 768px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 10px; /* 列与列之间的间隔 */
      grid-auto-rows: 1fr; /* 让每行高度相同 */
    }
    @media (max-width: 500px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 5px; /* 列与列之间的间隔 */
      grid-auto-rows: 1fr; /* 让每行高度相同 */
      overflow: hidden;
    }
  }
}
