
.home_page{
  width: 100vw;
  position: relative;
  .home_bg{
    background: url("../../imgs/home/home-bg.webp") no-repeat;
    width: 100vw;
    height: calc(100vw - 30vw);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .home_radius{
      position: absolute;
      background: url("../../imgs/home/home_open_bg.webp") no-repeat;
      width: 65vw;
      height: 65vw;
      z-index: 1;
      background-size: cover;
    }
    .home_front{
      position: absolute;
      background: url("../../imgs/home/home-front.webp") no-repeat;
      width: 65vw;
      height: 65vw;
      z-index: 2;
      background-size: cover;
      display: none;
    }
    .home_line{
      position: absolute;
      background: url("../../imgs/home/home-line-icon.webp") no-repeat;
      width: 50vw;
      height: 50vw;
      z-index: 3;
      background-size: cover;
      display: none;
    }
  }
  .home_qty_wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    .home_start_all_wrap{
      display: inline;
      border: .5px solid #ffffff;
      border-radius: 30px;
      padding: 15px 30px;
      font-size: 14px;
      color: #FFFFFF;
      text-align: center;
      font-weight: 400;
      letter-spacing: 2px;
    }
    .coin_name_btn{
      border: none;
      background: linear-gradient(to right, #9D26F7, #314AF0);
      font-size: 16px;
      padding: 15px 45px;
      font-weight: bold;
    }
    .coin_name{
      font-size:30px;
      color:#ffffff;
      font-weight: bold;
    }

    .middle_wrap{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-family: Segoe UI, Segoe UI;
      font-weight: 300;
      color: #F2F2F2;
      .amount_icon{
        width: 13vw;
        height: 13vw;
        background: url("../../imgs/home/amount_icon.webp");
        background-size: cover;
        margin-bottom: 10px;
      }

      .qty_icon{
        background: url("../../imgs/home/qty_icon.webp");
        background-size: cover;
      }

      .time_icon{
        background: url("../../imgs/home/time_icon.webp");
        background-size: cover;
      }
    }

  }

  .home_bottom_wrap{
    background: #141622;
    margin: 5vh 3vw;
    padding: 20px 12px;
    width: 94vw;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    .wrap_title{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .mod_title{
        font-size: 16px;
        font-weight: bold;
        color: #FFFFFF;
      }
      .mod_des{
        font-size: 12px;
        font-weight: 400;
        color: #ADAEB2;
      }
    }

    .section_title{
      font-weight: 300;
      color: #F2F2F2;
      font-size: 14px;
      margin-top: 20px;
    }

    .center_title{
      text-align: center;
    }

    .radius_wrap_title{
      font-size: 16px;
      font-weight: bold;
      color: #FFFFFF;
      text-align: center;
      flex: 1;
    }

    .slider_wrap{
      :global{
        .ant-progress-success-bg, .ant-progress-bg{
          height: 15px !important;
        }
        .ant-progress-inner{
          background: #31354E;
        }
        .ant-slider{
          margin: 10px 0;
        }
        .ant-slider-track{
          background: linear-gradient(to right, #9D26F7, #314AF0);
          height: 15px;
          border-radius: 24px;
        }
        .ant-slider-handle{
          margin-top: -2px;
          width: 20px;
          height: 20px;
          display: none;
        }
        .ant-slider-rail{
          background: #31354E;
          height: 15px;
          border-radius: 24px;
        }
      }
    }

    .buy_coin_wrap{
      background: #22222F;
      border-radius: 10px;
      padding: 10px 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0;
      .left_wrap{
        flex: 1;
        .sku_title{
          font-size: 18px;
          font-weight: bold;
          color: #FFFFFF;
        }
        :global{
          .ant-slider{
            margin: 5px 0;
          }
          .ant-slider-track{
            background: linear-gradient(to right, #9D26F7, #314AF0);
            height: 10px;
            border-radius: 20px;
          }
          .ant-slider-handle{
            width: 15px;
            height: 15px;
            margin-top: -2px;
          }
          .ant-slider-rail{
            background: #31354E;
            height: 10px;
            border-radius: 20px;
          }
        }

        .min_max_wrap{
          display: flex;
          justify-content: space-between;
          font-size: 12px;
          color: #CFCFD2;
          font-weight: 400;
        }
      }
      .right_wrap{
        margin-left: 20px;
        background: linear-gradient(to right, #9D26F7, #314AF0);
        border-radius: 20px;
        height: 36px;
        font-size: 12px;
        font-weight: 300;
        color: #FFFFFF;
        border: none;
        line-height: 1.7;
        min-width: 90px;
        text-align: center;
      }
    }

    .section_btn{
      display: none;
      background: linear-gradient(to right, #9D26F7, #314AF0);
      border-radius: 20px;
      font-size: 14px;
      font-weight: 300;
      color: #FFFFFF;
      height: 46px;
      width: 100%;
      border: none;
      margin-top: 10px;
    }

    .radius_wrapper{
      width: 65vw;
      height: 65vw;
      margin: 20px auto;
      background: url("../../imgs/bottom/box_radius_icon.webp");
      background-size: cover;
    }

    .coin_fixed_wrap{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 75vw;
      flex-wrap: wrap;
      margin: 0 auto;
      .content_wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: #ffffff;
        font-weight: 400;
        .me_wrap{
          background: #8A24F0;
          width: 10px;
          height: 10px;
          margin-right: 5px;
        }
        .low_wrap{
          background: #BB34FC;
          width: 10px;
          height: 10px;
          margin-right: 5px;
        }
        .int_wrap{
          background: #D165FD;
          width: 10px;
          height: 10px;
          margin-right: 5px;
        }
        .s_wrap{
          background: #D877FD;
          width: 10px;
          height: 10px;
          margin-right: 5px;
        }
        .nature_wrap{
          background: #E59CFE;
          width: 10px;
          height: 10px;
          margin-right: 5px;
        }
      }
    }

    .flex_wrap{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 0 0 0;
      padding-bottom: 10px;
      border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
      position: relative;
      .flex_item_wrap{
        display: flex;
        align-items: center;
        color: #F2F2F2;
        font-size: 14px;
        font-weight: 400;
        .star_icon{
          background: url("../../imgs/home/star_icon.webp");
          width: 30px;
          height: 30px;
          background-size: cover;
          margin-right: 10px;
        }
        .people_icon{
          background: url("../../imgs/home/people_icon.webp");
          width: 30px;
          height: 30px;
          background-size: cover;
          margin-right: 10px;
        }
        .share_icon{
          background: url("../../imgs/home/share_icon.webp");
          width: 30px;
          height: 30px;
          background-size: cover;
          margin-right: 10px;
        }
      }
      .right_wrap{
        font-size: 18px;
        font-weight: bold;
        color: #FFFFFF;
        span{
          font-size: 12px;
          line-height: 30px;
          margin-left: 5px;
        }
      }
      .crown_icon{
        position: absolute;
        right: 30px;
        background: url("../../imgs/bottom/crown_icon.webp");
        background-size: cover;
        width: 50px;
        height: 50px;
      }
    }

    .share_link_wrap{
      display: flex;
      justify-content: space-between;
      color: #FFFFFF;
      font-size: 14px;
      margin-top: 20px;
      font-weight: 400;
      align-items: center;
      .link_wrap{
        font-weight: 400;
        font-size: 13px;
        color: rgba(255, 255, 255, 0.42);
        margin-left: 5px;
      }

      .copy_btn{
        background: linear-gradient(to right, #9D26F7, #314AF0);
        border-radius: 20px;
        font-size: 14px;
        font-weight: 300;
        color: #FFFFFF;
        height: 36px;
        padding: 0 20px;
        border: none;
      }

    }
  }

  .home_partners_title{
    font-weight: bold;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
  }

  .home_partners_wrap{
    display: flex;
    justify-content: space-between;
    margin:3vh 3vw 0 3vw;
    align-items: center;
    flex-wrap: wrap;
    .coin_base_icon{
      width: calc(94vw / 4  - 10px);
      height: calc((94vw / 4  - 10px) * 0.4);
      background: url("../../imgs/home/coin_base_icon.webp");
      background-size: cover;
      border-radius: 5px;
    }
    .luno_icon{
      width: calc(94vw / 4  - 10px);
      height: calc((94vw / 4  - 10px) * 0.4);
      border-radius: 5px;
      background: url("../../imgs/home/luno_icon.webp");
      background-size: cover;
    }
    .kraken_icon{
      width: calc(94vw / 4  - 10px);
      height: calc((94vw / 4  - 10px) * 0.4);
      border-radius: 5px;
      background: url("../../imgs/home/kraken_icon.webp");
      background-size: cover;
    }
    .solana_icon{
      width: calc(94vw / 4  - 10px);
      height: calc((94vw / 4  - 10px) * 0.4);
      border-radius: 5px;
      background: url("../../imgs/home/solana_icon.webp");
      background-size: cover;
    }

    .mamon_icon{
      background: url("../../imgs/bottom/mamon_icon.webp");
      width: 81px;
      height: 54px;
      background-size: cover;
    }
    .paradigm_icon{
      background: url("../../imgs/bottom/paradigm.webp");
      width: 160px;
      height:calc(160px * (70 / 127)) ;
      background-size: cover;
    }
    .panguweb_icon{
      background: url("../../imgs/bottom/panguweb.webp");
      width: 117px;
      height: 46px;
      background-size: cover;
    }
    .youtube_icon{
      background: url("../../imgs/bottom/youtube.webp");
      width: 150px;
      height: 39px;
      background-size: cover;
    }
    .tiktok_icon{
      background: url("../../imgs/bottom/tiktok.webp");
      width: 128px;
      height: 44px;
      background-size: cover;
    }
  }
  .home_partners_sec_wrap{
    display: flex;
    justify-content: center;
    margin:1vh 3vw 5vh 3vw;
    flex-wrap: wrap;
    .youtube_icon{
      background: url("../../imgs/bottom/youtube.webp");
      width: 150px;
      height: 39px;
      background-size: cover;
    }
    .tiktok_icon{
      background: url("../../imgs/bottom/tiktok.webp");
      width: 128px;
      height: 44px;
      background-size: cover;
    }
  }
}
