
.home_page{
  width: 100vw;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
  padding-top: 20px;

  .sort_wrap{
    padding: 10px 20px;
  }
  .grid_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 两列等宽 */
    gap: 10px; /* 列与列之间的间隔 */
    padding: 10px;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr); /* 两列等宽 */
      gap: 10px; /* 列与列之间的间隔 */
    }
  }
}
