.searchBar {
  width: 600px;
  height: 38px;
  border-radius: 11px;
  position: relative;
  outline: 2px solid #F0774A;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  margin: 0 auto;
  align-items: center;
  @media (max-width: 640px) {
    width: 93%;
    height: 38px;
    border: none;
    margin: 0 auto;
    border-radius: 30px;
  }

  .inputField {
    width: 100%;
    flex: 1;
    height: 38px;
    border: 0 !important;
    border-radius: 11px;
    outline: none !important;
    position: relative;
    input{
      height: 38px;
      border: 0 !important;
      outline: none !important;
      padding-right: 80px;
    }
    @media (max-width: 640px) {
      height: 38px;
      border-radius: 30px;
      input{
        height: 38px;
      }
    }
  }

  .searchButton {
    width: 80px;
    height: 38px;
    position: absolute;
    right: 0;
    top:0px;
    background-color: #F0774A;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    z-index: 99;
    @media (max-width: 640px) {
      width: 50px;
      height: 38px;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      top: 0;
    }

    .icon {
      width: 20px;
    }
  }
}


.a{
  color: #000;
  font-size: 16px;
  margin: 0 20px;
  transition: all .3s;
  display: none;
  &:hover{
    color: var(--primary-color-80);
  }

  @media (max-width: 640px) {
    display: none;
  }
}
