.container {
  display: flex; /* 使用 flexbox 布局 */
  color: #999;
  width: 100%;
  gap: 12px;
  overflow-x: auto; /* 允许横向滚动 */
  white-space: nowrap; /* 确保子元素在一行内显示，不换行 */
}

.sortItem {
  display: flex;
  height: 24px;
  line-height: 24px;
  user-select: none;
  cursor: pointer;
  &.active {
    border-color: #ff99aa;
    color: #ff99aa;
    font-weight: bold;
  }
}

.itemText {
  padding-right: 4px;
  display: flex;
  align-items: center;
  color: black;
  img{
    width: 30px;
    height: 30px;
    transition: all .3s;
    &:hover{
      scale: 1.1;
    }
  }
  .subName {
    font-size: 12px;
    color: #7D7D7D;
    margin-left: 4px;
  }
}

.arrows {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
}

.arrowUp,
.arrowDown,
.activeUp,
.activeDown {
  height: 30%;
  display: flex;
  align-items: center;
}

.activeUp {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 2px;
  &::before {
    content: "";
    border-left: 3.5px solid transparent;
    border-right: 3.5px solid transparent;
    border-bottom: 4px solid #F0774A;
    display: inline-block;
  }
}

.activeDown {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  &::before {
    content: "";
    border-left: 3.5px solid transparent;
    border-right: 3.5px solid transparent;
    border-top: 4px solid #F0774A;
    display: inline-block;
  }
}

.arrowUp::before {
  content: "";
  border-left: 3.5px solid transparent;
  border-right: 3.5px solid transparent;
  border-bottom: 4px solid #999999;
  display: inline-block;
}

.arrowDown::before {
  content: "";
  border-left: 3.5px solid transparent;
  border-right: 3.5px solid transparent;
  border-top: 4px solid #999999;
  display: inline-block;
}

.arrowUp, .activeUp {
  justify-content: flex-end;
  margin-bottom: 2px;
}

.arrowDown {
  justify-content: flex-start;
}
