
.person_center{
  width: 100%;
  min-height: 100vh;

  .back_wrap{
    margin: 0 auto;
    position: fixed;
    top: 80px;
    left: 10px;
    background: #fff;
    border-radius: 25px;
    @media screen and (max-width: 650px){
      background: unset;
    }
  }

  .bg_wrap{
    background: url("https://anystarr-image.oss-ap-southeast-1.aliyuncs.com/home_bg-scaled-2.jpg") no-repeat;
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    @media screen and (max-width: 650px) {
      height: 130px;
    }
  }

  .avatar_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .avatar{
      position: absolute;
      top: -50px;
      @media screen and (max-width: 650px){
        top: -40px;
      }
    }
  }

  .nick_name{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    font-size: 20px;
    font-weight: bold;
  }

  .info_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    .info_item{
      display: flex;
      flex-direction: column;
      align-items: center;
      .num{
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 10px;
      }

      .des{
        font-size: 16px;
        font-weight: 300;
      }
    }
  }

  .section_wrap{
    max-width: 1280px;
    margin: 0 auto;
    .title_1{
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      padding: 0 15px;
      span{
        color: var(--primary-color-80);
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .grid_container {
      display: grid;
      grid-template-columns: repeat(5, 1fr); /* 两列等宽 */
      gap: 10px; /* 列与列之间的间隔 */
      padding: 10px;
      @media (max-width: 1200px) {
        grid-template-columns: repeat(4, 1fr); /* 两列等宽 */
        gap: 10px; /* 列与列之间的间隔 */
      }
      @media (max-width: 768px) {
        grid-template-columns: repeat(3, 1fr); /* 两列等宽 */
        gap: 10px; /* 列与列之间的间隔 */
      }
      @media (max-width: 500px) {
        grid-template-columns: repeat(2, 1fr); /* 两列等宽 */
        gap: 10px; /* 列与列之间的间隔 */
      }
    }
  }
}
